html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.pd-all-section {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* border: 5px solid red; */
    flex-direction: column;
    align-items: center;
}

.pd-main-section {
/* border: 5px solid blue; */
height: 100%;
width: 80%;
display: flex;
}

.pd-main-section-left {
    
    width: 68%;
    height: 100%;

    
}

.pd-header-section {
display: flex;
flex-direction: column;
gap: 10px;
border-bottom: 1px solid #d9d9d9;
padding: 30px 0;
}

.pd-header-section p1 {
    font-size: 28px;
    font-weight: 600;
}
.pd-header-section-icon {
    display: flex;
    gap: 10px;
}

.pd-header-section-icon img {

}

.pd-header-section-icon img:nth-child(1) {

}

.pd-main-section-left-img {
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

.pd-main-import-button {
    padding: 3px ;
    background-color: #d9d9d9;
    margin-top: 40px;
}

.pd-main-import-button p {
    text-align: center;
    color: #3c3a3a;
}

.pd-main-section-left-img img {
    width: 100%;
    height: 100%;   

}

.text-all-section {
   
}

.text-section {
   display: flex;
   /* border: 5px solid red; */
   width: 100%;
   
}

.text-section-title {
width: 20%;
}

.text-section-title p {
    font-size: 18px;
    font-weight: bold;
}


.text-section-description {
  width: 80%;
  padding-left: 10px;
  /* border: 5px solid blue; */
}

.text-section-description p {
font-size: 18px;
}

.text-section-description span1 {
    color: purple;
    padding-top: 10px;
    font-weight: bold
}

.text-section-description span2 {
    font-weight: bold;
}

.text-section-description span2 > span {
    color: red;
}

.text-section-description span3 {
    color: red;
}



.text-section-description span4 {
    color: #d9d9d9;
    font-size: 14px;
}

.text-section-description span5 {
    
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

.text-section-description span6 {
    font-weight: bold;
    
}

.text-section-description span7 {
    background: #f7f7fd;        
    color: #7c3aed;             
    border: none;                
    border-radius: 16px;         
    padding: 6px 15px;           
    font-size: 10px;             
    font-weight: 600;
}

.text-icon-section {
display: flex;
margin: 18px 0;
padding-left: 10px;
align-items: center;
gap: 20px;
}

.text-icon {
    gap: 10px;
}

.text-icon img {
width: 60px;
height: 60px;
}

.text-icon p {
font-size: 14px;
text-align: center;
margin-top: 10px;
margin: 0;
}

.pd-down-section {
    display: block;   
    width: 100%;
    background-color: #f7f7fd;
    
    /* margin-top: 40px */
}

.campaign-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    
}

.header-box {
display: flex;
justify-content: flex-start;    
align-items: center;
padding-left: 100px;
}

.header-box p {
    font-size: 22px;
    font-weight: bold;
}

.campaign-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campaign-img-box {

}

.campaign-img-box img {
width: 173px;
height: 173px;
}

.campaign-text-section {

gap: 3px;

}

.campaign-date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.campaign-date p {
    font-size: 15px;
    font-weight: bold;
}

.campaign-title {

}

.campaign-title p {
    font-size: 14px;
   
}

.campaign-content {
    
}

.campaign-content p {
    font-size: 12px;
    color: #636262;
    
}





.pd-main-section-right {
    /* border: 5px solid yellow; */
    width: 32%;
}

.pd-right-menu {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

.pd-right-text-box {

}

.pd-right-text-box-up {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding-bottom: 10px;
}

.pd-right-text-box p {
font-size: 14px;
}

.pd-right-text-box span8 {
    font-weight: bold;
}

.pd-right-text-box span9 {
color: #7c3aed;
}





.pd-right-text-box-down {
    
}

.pd-right-text-box-down-box {
border-bottom: 1px solid #d9d9d9;
padding-bottom: 10px;
}
.pd-right-text-box-down-box p {
font-size: 16px;
}

.pd-right-text-sin-box {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 48px;
background-color: black;
margin-top: 20px;

}

.pd-right-text-sin-box p {
color: white;
font-size: 16px;
font-weight: bold;
text-align: center;
}